{% extends 'shared/layout.html' %}
{% load static %}
{% block content %}

<div class="row">
  <div class="col">
    <h2 class="display-4">Summer Signup Details</h2>

    <button class="btn btn-primary" onclick="window.print()">Print</button>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-xl-5">
    <h3 class="mt-3">Parent or Guardian Information</h3>

    <table style="width:auto" class="table">
      <tbody>
        <tr>
          <th>Name:</th>
          <td>{{ patron.name }}</td>
        </tr>
        <tr>
          <th>Email Address</th>
          <td>{{ patron.email }}</td>
        </tr>
        <tr>
          <th>Phone Number</th>
          <td>{{ patron.phone }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-xl-7">
    <h3 class="mt-3">Registration Information</h3>

    <table class="table">
      <thead>
        <tr>
          <th class="print-hide"></th>
          <th>Name</th>
          <th>Consent to Use Photos</th>
          <th>Program Name</th>
          <th>Program Date</th>
          <th>Program Time</th>
        </tr>
      </thead>

      <tbody>
        {% for child in patron.child_set.all %}
          {% for registration in child.registration_set.all|dictsort:"program.date" %}
          <tr>
            <td class="print-hide">
              <a href="{% url 'admin:app_registration_change' registration.id %}">Edit</a>
            </td>
            <td>{{ child.name }}</td>
            <td>{{ child.photo_release|yesno:"Yes,No" }}</td>
            <td>
              {{ registration.program.name }}
              {% if registration.is_wait_list %}
              <span class="text-danger">(Wait List)</span>
              {% endif %}
            </td>
            <td>{{ registration.program.date }}</td>
            <td>{{ registration.program.time }}</td>
          </tr>
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock content %}