{% extends 'shared/layout.html' %}
{% load static %}
{% block content %}

<div class="row">
  <div class="col-lg-4">
    <h2 class="display-4 mb-4">{{ patron.name }}</h2>
  </div>

  <div class="col-lg-8">
    <h3>Parent or Guardian Information</h3>

    <ul>
      <li><strong>Name:</strong> {{ patron.name }}</li>
      <li><strong>Email Address:</strong> {{ patron.email }}</li>
      <li><strong>Phone Number:</strong> {{ patron.phone }}</li>
      <li><strong>Photo Release Consent:</strong> {{ patron.photo_release|yesno:"Yes,No" }}</li>
    </ul>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-12">
    <h3>Registration Information</h3>

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Program Name</th>
          <th>Program Date</th>
          <th>Program Time</th>
        </tr>
      </thead>

      <tbody>
        {% for child in patron.child_set.all %}
          {% for registration in child.registration_set.all %}
          <tr>
            <td>{{ child.name }}</td>
            <td>
              {{ registration.program.name }}
              {% if registration.is_wait_list %}
              <span class="text-danger">(Wait List)</span>
              {% endif %}
            </td>
            <td>{{ registration.program.date }}</td>
            <td>{{ registration.program.time }}</td>
          </tr>
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock content %}