{% extends 'shared/layout.html' %}
{% block content %}

<h2 class="display-4">Patrons</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Children</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
      {% for patron in patrons %}
      <tr>
        <td>{{ patron.name }}</td>
        <td>{{ patron.email }}</td>
        <td>{{ patron.phone }}</td>
        <td>
          {% for child in patron.child_set.all %}
            <div class="font-weight-bold">{{ child.name }}</div>
            {% for registration in child.registration_set.all %}
              <div>
                {{ registration.program.name }}
                {% if registration.is_wait_list %}
                  <span class="text-danger">(Wait List)</span>
                {% endif %}
              </div>
            {% endfor %}
          {% endfor %}
        </td>
        <td class="text-right">
          <a class="btn btn-primary" href="{% url 'app:patron' patron.id %}">Details</a>
        </td>
      </tr>
      {% endfor %}
  </tbody>
</table>

{% endblock content %}