{% extends 'shared/layout.html' %}
{% load static %}
{% block content %}

<div class="row mt-5">
  <div class="col-12 mb-4">
    <h2 class="display-3 mb-5 text-center">Eager Free Public Library<br><small>Summer Event Signup</small></h2>

    <p class="h3 my-3 text-center">Select an area below.</p>
    <hr>
  </div>

  <div class="col-lg mb-3 mb-lg-0">
    <a href="{% url 'app:kids_home' %}" class="card-link">
      <div class="card bg-primary text-light text-center h-100">
        <div class="card-body p-5">
          <h3 class="display-4">Kids</h3>

          <p>Click here for kids event signup and information.</p>

        </div>
      </div>
    </a>
  </div>

  <div class="col-lg">
    <a href="{% url 'app:teens_home' %}" class="card-link">
      <div class="card bg-primary text-light text-center h-100">
        <div class="card-body p-5">
          <h3 class="display-4">Teens</h3>

          <p>Click here for teen event signup and information.</p>
        </div>
      </div>
    </a>
  </div>
</div>



{% endblock content %}