{% extends 'shared/layout.html' %}
{% load static %}
{% block content %}

{% comment %} <img src="{% static 'shared/graphics/libraries_rock.jpg' %}" alt="Libraries Rock Banner" class="mw-100"> {% endcomment %}

<div class="row mt-5">
  <div class="col-12 mb-4">
    <div class="card bg-primary text-white">
      <div class="card-body">
        <p class="h3 m-3 text-center">Welcome to Summer Reading Signup for Eager Free Public Library</p>

        <p class="h5 m-3 text-center">Select an area below to view program information.</p>
      </div>
    </div>
  </div>

  <div class="col-lg">
    <div class="card h-100">
      <div class="card-body p-5">
        <h3 class="display-4">Kids</h3>

        <p>Click here for kids program signup and information.</p>

      </div>
      
      <a href="{% url 'app:kids_home' %}" class="card-link">
        <div class="card-footer bg-primary text-light">
            Let's Go!
        </div>
      </a>
    </div>
  </div>

  <div class="col-lg">
    <div class="card h-100">
      <div class="card-body p-5">
        <h3 class="display-4">Teens</h3>

        <p>Click here for teen program signup and information.</p>
      </div>
      
      <a href="{% url 'app:teens_home' %}" class="card-link">
        <div class="card-footer bg-primary text-light">
          Let's Go!
        </div>
      </a>
    </div>
  </div>
</div>



{% endblock content %}