{% extends 'shared/layout.html' %}
{% load static %}
{% block content %}

{% comment %} <img src="{% static 'shared/graphics/libraries_rock.jpg' %}" alt="Libraries Rock Banner" class="mw-100"> {% endcomment %}

<div class="row mt-5">
  <div class="col-12 mb-4">
    <div class="card bg-primary text-white">
      <div class="card-body">
        <p class="h3 m-3 text-center">Welcome to Summer Reading Signup for Eager Free Public Library</p>

        <p class="h5 m-3 text-center">Select an area below to view program information.</p>
      </div>
    </div>
  </div>

  <div class="col-lg">
    <div class="card h-100 py-5">
      <div class="card-body">
        <h3>View Programs</h3>

        <p>Click here for kids program signup and information.</p>

        <a href="{% url 'app:kid_programs' %}" class="btn btn-primary">Let's Go!</a>
      </div>
    </div>
  </div>

  <div class="col-lg">
    <div class="card h-100 py-5">
      <div class="card-body">
        <h3>Register for Multiple Programs</h3>

        <p>Click here to register for multiple programs at once.</p>

        <a href="{% url 'app:grid_register_kids' %}" class="btn btn-primary">Let's Go!</a>
      </div>
    </div>
  </div>
</div>



{% endblock content %}