{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-51500281-4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-51500281-4');
  </script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Eager Free Public Library // Summer Event Signup</title>
  <link rel="stylesheet" href="{% static 'shared/styles.css' %}">
  <link rel="shortcut icon" href="{% static 'shared/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <a class="navbar-brand" href="{% url 'app:home' %}">EFPL Summer Event Signup</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item {% if request.path == '/' %} active {% endif %}">
              <a href="{% url 'app:home' %}" class="nav-link">Home</a>
            </li>
            <li class="nav-item {% if request.path|slice:':5' == '/kids' %} active {% endif %}">
              <a href="{% url 'app:kids_home' %}" class="nav-link">Kids</a>
            </li>
            <li class="nav-item {% if request.path|slice:':6' == '/teens' %} active {% endif %}">
              <a href="{% url 'app:teens_home' %}" class="nav-link">Teens</a>
            </li>
            <li class="nav-item {% if request.path|slice:':4' == '/faq' %} active {% endif %}">
              <a href="{% url 'app:faq' %}" class="nav-link">FAQ</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item {% if request.path|slice:':7' == '/events' %} active {% endif %}">
              <a class="nav-link" href="{% url 'app:programs' %}">All Events</a>
            </li>
            <li class="nav-item {% if request.path|slice:':8' == '/patrons' %} active {% endif %}">
              <a class="nav-link" href="{% url 'app:patrons' %}">Patrons</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'admin:logout' %}">Log Out</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>

  <div class="main-content container">
    {% if notification %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{ notification }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %}

    {% block content %}
    {% endblock %}
  </div>
  
  <footer class="bg-secondary text-light d-flex align-items-center pl-3">
    &copy; {% now "Y" %} Eager Free Public Library
  </footer>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  {% block scripts %}
  {% endblock %}
</body>
</html>