body {
  padding-top: 56px;
  padding-bottom: 36px;
}

.main-content {
  padding: 2rem 0;
}

footer {
  height: 36px;
}

img {
  max-width: 100%;
}

img.program-graphic {
  border-radius: 0.25rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}