{% extends 'shared/layout.html' %}
{% load static %}
{% block content %}

<div class="card bg-primary mb-4">
  <div class="card-body text-light">
    <h2 class="mb-4">Thank You!</h2>

    <p>Your registration information is displayed below and has also been sent to the email address you provided.</p>

    <p class="mb-0"><strong>Confirmation Number:</strong> {{ patron.confirmation_number }}</p>
  </div>
</div>

<h3>Location Information</h3>

<p>Due to the Library Expansion Project construction, these events will take place at the Evansville Youth Center.</p>

<ul>
  <li><strong>Address:</strong> 209 S 1st St, Evansville, WI 53536</li>
  <li><strong>Phone:</strong> 608-882-0372</li>
</ul>

<hr>

<div class="row">
  <div class="col-lg-4">
    <h3>Parent or Guardian Information</h3>

    <ul>
      <li><strong>Name:</strong> {{ patron.name }}</li>
      <li><strong>Email Address:</strong> {{ patron.email }}</li>
      <li><strong>Phone Number:</strong> {{ patron.phone }}</li>
    </ul>
  </div>

  <div class="col-lg-8">
    <h3>Registration Information</h3>

    <table class="table table-responsive-lg">
      <thead>
        <tr>
          <th>Name</th>
          <th>Consent to Use Photos</th>
          <th>Program Name</th>
          <th>Program Date</th>
          <th>Program Time</th>
        </tr>
      </thead>

      <tbody>
        {% for child in patron.child_set.all %}
          {% for registration in child.registration_set.all %}
          <tr>
            <td>{{ child.name }}</td>
            <td>{{ child.photo_release|yesno:"Yes,No" }}</td>
            <td>
              {{ registration.program.name }}
              {% if registration.is_wait_list %}
              <span class="text-danger">(Wait List)</span>
              {% endif %}
            </td>
            <td>{{ registration.program.date }}</td>
            <td>{{ registration.program.time }}</td>
          </tr>
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<hr>

<p>If you have questions, need to cancel, or any of the above information is incorrect, please send an email to <a href="mailto:registrations@efplsummersignup.com">registrations@efplsummersignup.com</a> or call 608-882-2260. Please include your name and confirmation number {{ patron.confirmation_number }}.</p>

{% endblock content %}