{% extends 'shared/layout.html' %}
{% load static %}
{% block content %}

{% comment %} <h2 class="display-4">Thank you!</h2> {% endcomment %}

<div class="card bg-primary mb-4">
  <div class="card-body text-light">
    <h2 class="mb-4">Thank You!</h2>

    <p>Your registration information is displayed below and has also been sent to the email address you provided.</p>

    <p class="mb-0"><strong>Confirmation Number:</strong> {{ patron.id }}</p>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-lg-4">
    <h3>Your Information</h3>

    <ul>
      <li><strong>Name:</strong> {{ patron.name }}</li>
      <li><strong>Email Address:</strong> {{ patron.email }}</li>
      <li><strong>Phone Number:</strong> {{ patron.phone }}</li>
    </ul>
  </div>

  <div class="col-lg-8">
    <h3>Registration Information</h3>

    <table class="table">
      <thead>
        <tr>
          <th>Child Name</th>
          <th>Program Name</th>
          <th>Program Date</th>
          <th>Program Time</th>
        </tr>
      </thead>

      <tbody>
        {% for child in patron.child_set.all %}
          {% for registration in child.registration_set.all %}
          <tr>
            <td>{{ child.name }}</td>
            <td>
              {{ registration.program.name }}
              {% if registration.is_wait_list %}
              <span class="text-danger">(Wait List)</span>
              {% endif %}
            </td>
            <td>{{ registration.program.date }}</td>
            <td>{{ registration.program.time }}</td>
          </tr>
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<hr>

<p>If any of the above information is incorrect, please send an email to <a href="mailto:#">summer-reading@efpl.com</a> and include confirmation number {{ patron.id }}.</p>

{% endblock content %}