{% extends 'shared/layout.html' %}
{% block content %}
{% load static %}

<h1 class="display-3 mb-3">
  Register for
  {% if type == 'kids' %} Kids {% endif %}
  {% if type == 'teens' %} Teen {% endif %}
  Programs
</h1>

<div class="card bg-info text-light mb-5">
  <div class="card-body">
    {% if type == 'kids' %}
    <p class="mb-0">These events are recommended for kids entering grades 1&ndash;5 in fall. Space is limited and registration is required. For information about other events for kids at library please visit our website at <a class="text-light" href="als.lib.wi.us/EFPL">als.lib.wi.us/EFPL</a> or follow us on Facebook <a class="text-light" href="https://www.facebook.com/eagerfreepubliclibrary">@eagerfreepubliclibrary</a>.</p>
    {% elif type == 'teens' %}
    <p class="mb-0">These events are recommended for teens entering grades 6&ndash;10 in fall. Space is limited and registration is required. For information about other events at library please visit our website at <a class="text-light" href="als.lib.wi.us/EFPL">als.lib.wi.us/EFPL</a> or follow us on Facebook <a class="text-light" href="https://www.facebook.com/eagerfreepubliclibrary">@eagerfreepubliclibrary</a>.</p>
    {% endif %}
  </div>
</div>

<h2 class="display-4">Select Programs</h2>

<form action="{% url 'app:add_registration' %}" method="post">
  {% csrf_token %}

  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Capacity</th>
        <th>Slots Left</th>
        <th>Date</th>
        <th>Time</th>
        <th></th>
      </tr>
    </thead>
    
    <tbody>
      {% for program in programs %}
        <tr>
          <td><input type="checkbox" name="program-{{ program.id }}" id="program-{{ program.id }}"></td>
          <td><label for="program-{{ program.id }}">
            {{ program.name }}
            {% if program.is_full %}
            <span class="text-danger">(Wait List)</span>
            {% endif %}
          </label></td>
          <td>{{ program.capacity }}</td>
          <td>{{ program.slots_left }}</td>
          <td>{{ program.date }}</td>
          <td>{{ program.time }}</td>
          {% if type == 'kids' %}
          <td class="text-right"><a href="{% url 'app:kids_program_detail' program.id %}" class="btn btn-primary">Details</a></td>
          {% elif type == 'teens' %}
          <td class="text-right"><a href="{% url 'app:teen_program_detail' program.id %}" class="btn btn-primary">Details</a></td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <h2 class="display-4 mt-5">Register</h2>

  <hr>

  <div class="row">
      <div class="col-lg">
        <h3>Parent or Guardian Information</h3>

        <div class="form-group">
          <label for="adultname">Parent or Guardian Name (First and Last)</label>
          <input type="text" id="adultname" name="adultname" class="form-control" required>
        </div>

        <div class="form-group">
          <label for="adultemail">Email Address</label>
          <input type="email" id="adultemail" name="adultemail" class="form-control" required>
        </div>

        <div class="form-group">
          <label for="adultphone">Phone Number</label>
          <input type="phone" id="adultphone" name="adultphone" class="form-control" required>
        </div>

        <div class="form-group">
          <label>Can we take and use photographs of your child(ren) at library events?</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="adultphotorelease" id="consentyes" value="1">
            <label class="form-check-label d-flex justify-content-between" for="consentyes">
              <strong class="mr-2">Yes:</strong> <span>I hereby consent to the use of any photographs, video or audio clips of my child in news coverage or publicity for the Eager Free Public Library. This may include use in our newsletters, brochures, fliers, posters, and/or web pages.</span>
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="adultphotorelease" id="consentno" value="0">
            <label class="form-check-label d-flex justify-content-between" for="consentno">
              <strong class="mr-2">No:</strong> <span>I do not consent to the use of photographs, video or audio clips of my child(ren).</span>
            </label>
          </div>
        </div>
      </div>

      <div class="col-lg">
        <div id="children">
          {% if type == 'kids' %}
          <h3>Children to Register</h3>
          {% elif type == 'teens' %}
          <h3>Teens to Register</h3>
          {% endif %}

          <div class="form-group">
            <label for="childname1">Name (First and Last)</label>
            <input type="text" id="childname1" name="childname1" class="form-control" required>
          </div>
        </div>

        {% if type == 'kids' %}
        <button id="addChild" class="btn btn-sm btn-primary" type="button">Add Another Child</button>
        {% elif type == 'teens' %}
        <button id="addChild" class="btn btn-sm btn-primary" type="button">Add Another Teen</button>
        {% endif %}
      </div>
    </div>

    <div class="mt-4">
      <button class="btn btn-primary">Register</button>
      <a href="javascript:history.back()" class="btn btn-secondary">Back</a>
    </div>
</form>

{% endblock content %}

{% block scripts %}
<script src="{% static 'shared/multiadd.js' %}"></script>
{% endblock scripts %}