{% extends 'shared/layout.html' %}
{% block content %}
{% load static %}

{% if not is_open %}
  <div class="card bg-warning mb-3">
    <div class="card-body">
      <h3>Registrations Are Not Open Yet</h3>

      <p class="mb-0">Program registration will open on Saturday, May 26 at 9:30 a.m. Program details and the registration form are included below for reference.</p>
    </div>
  </div>
{% endif %}

<h1 class="display-3 mb-3">
  Register for
  {% if type == 'kids' %} Kids {% endif %}
  {% if type == 'teens' %} Teen {% endif %}
  Events
</h1>

<div class="card bg-info text-light mb-5">
  <div class="card-body">
    {% if type == 'kids' %}
    <p class="mb-0">These events are recommended for kids entering grades 1&ndash;5 in fall. Space is limited and registration is required. For information about other events for kids at library please visit our website at <a class="text-light" href="http://als.lib.wi.us/EFPL">als.lib.wi.us/EFPL</a> or follow us on Facebook <a class="text-light" href="https://www.facebook.com/eagerfreepubliclibrary">@eagerfreepubliclibrary</a>.</p>
    {% elif type == 'teens' %}
    <p class="mb-0">These events are recommended for teens entering grades 6&ndash;10 in fall. Space is limited and registration is required. For information about other events at library please visit our website at <a class="text-light" href="http://als.lib.wi.us/EFPL">als.lib.wi.us/EFPL</a> or follow us on Facebook <a class="text-light" href="https://www.facebook.com/eagerfreepubliclibrary">@eagerfreepubliclibrary</a>.</p>
    {% endif %}
  </div>
</div>

<h2 class="display-4">Select Events</h2>

<form action="{% url 'app:add_registration' %}" method="post">
  {% csrf_token %}

  <input type="hidden" name="registrationtype" value="{{ type }}">

  <table class="table table-responsive-lg">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Capacity</th>
        <th>Slots Left</th>
        <th>Date</th>
        <th>Time</th>
        <th></th>
      </tr>
    </thead>
    
    <tbody>
      {% for program in programs %}
        <tr>
          <td><input type="checkbox" name="program-{{ program.id }}" id="program-{{ program.id }}" required {% if not is_open %} disabled {% endif %}></td>
          <td><label for="program-{{ program.id }}">
            {{ program.name }}
            {% if program.is_full %}
            <span class="text-danger">(Wait List)</span>
            {% endif %}
          </label></td>
          <td>{{ program.capacity }}</td>
          <td>{{ program.slots_left }}</td>
          <td>{{ program.date }}</td>
          <td>{{ program.time }}–{{ program.time_end }}</td>
          {% if type == 'kids' %}
          <td class="text-right"><a href="{% url 'app:kids_program_detail' program.id %}" class="btn btn-primary">Details</a></td>
          {% elif type == 'teens' %}
          <td class="text-right"><a href="{% url 'app:teen_program_detail' program.id %}" class="btn btn-primary">Details</a></td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <h2 class="display-4 mt-5">Register</h2>

  <hr>
  
  <div class="row">
      <div class="col-lg">
        <h3>Parent or Guardian Information</h3>

        <div class="form-group">
          <label for="adultname">Parent or Guardian Name (First and Last)</label>
          <input type="text" id="adultname" name="adultname" class="form-control" required {% if not is_open %} disabled {% endif %}>
        </div>

        <div class="form-group">
          <label for="adultemail">Email Address</label>
          <input type="email" id="adultemail" name="adultemail" class="form-control" required {% if not is_open %} disabled {% endif %}>
        </div>

        <div class="form-group">
          <label for="adultphone">Phone Number</label>
          <input type="phone" id="adultphone" name="adultphone" class="form-control" required {% if not is_open %} disabled {% endif %}>
        </div>
      </div>

      <div class="col-lg">
        <div id="children">
          {% if type == 'kids' %}
          <h3>Children to Register</h3>
          {% elif type == 'teens' %}
          <h3>Teens to Register</h3>
          {% endif %}

          <div class="form-group">
            <label for="childname1">Name (First and Last)</label>
            <input type="text" id="childname1" name="childname1" class="form-control" required {% if not is_open %} disabled {% endif %}>
          </div>

          <div class="form-group">
              <label>Can we take and use photographs of this child at library events?</label>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="childphotorelease1" id="consentyes1" value="1" required {% if not is_open %} disabled {% endif %}>
                <label class="form-check-label d-flex justify-content-between" for="consentyes1">
                  <strong class="mr-2">Yes:</strong> <span>I hereby consent to the use of any photographs, video or audio clips of this child in news coverage or publicity for the Eager Free Public Library. This may include use in our newsletters, brochures, fliers, posters, and/or web pages.</span>
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="childphotorelease1" id="consentno1" value="0" required {% if not is_open %} disabled {% endif %}>
                <label class="form-check-label d-flex justify-content-between" for="consentno1">
                  <strong class="mr-2">No:</strong> <span>I do not consent to the use of photographs, video or audio clips of this child.</span>
                </label>
              </div>
            </div>
        </div>

        {% if type == 'kids' %}
        <button id="addChild" class="btn btn-sm btn-primary" type="button" {% if not is_open %} disabled {% endif %}>Add Another Child</button>
        {% elif type == 'teens' %}
        <button id="addChild" class="btn btn-sm btn-primary" type="button" {% if not is_open %} disabled {% endif %}>Add Another Teen</button>
        {% endif %}
      </div>
    </div>

    <div class="mt-4">
      <button class="btn btn-primary" {% if not is_open %} disabled {% endif %}>Register</button>
    </div>
</form>

{% endblock content %}

{% block scripts %}
<script src="{% static 'shared/multiadd.js' %}"></script>
<script src="{% static 'shared/validateCheckboxes.js' %}"></script>
{% endblock scripts %}