{% extends 'shared/layout.html' %}
{% load static %}
{% block content %}

{% if program.is_full %}
<div class="card bg-warning mb-5">
  <div class="card-body">
    <h2 class="mb-0">This program is currently full. New registrations will be placed on the wait list.</h2>
  </div>
</div>
{% endif %}

<h2 class="display-4">{{ program.name }}</h2>

<hr>

<div class="row">
  <div class="col">
    <img src="{{ program.graphic.url }}" class="program-graphic">
  </div>

  <div class="col">
    <h3>Program Description</h3>
    <p>{{ program.description }}</p>

    <h3>Date and Time</h3>
    <p>{{ program.date }} at {{ program.time }}</p>

    <h3>Capacity</h3>
    <p class="mb-0">Capacity: {{ program.capacity }}</p>
    <p>Slots Left: {{ program.slots_left }}</p>

    {% if request.path|slice:':5' == '/kids' %}
    <a href="{% url 'app:kids_home' %}" class="btn btn-primary">Back to Registration</a>
    {% endif %}
    {% if request.path|slice:':5' == '/teen' %}
    <a href="{% url 'app:teens_home' %}" class="btn btn-primary">Back to Registration</a>
    {% endif %}
  </div>
</div>


{% if user.is_authenticated %}

<h2 class="display-4 text-center mt-5">Registration Information</h2>

<hr>

<div class="row">
    <div class="col">
      <h3>Registered for This Program</h3>
  
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Parent or Guardian</th>
            <th>Phone Number</th>
          </tr>
        </thead>
  
        <tbody>
          {% for registration in program.registration_set.all %} {% if not registration.is_wait_list %}
          <tr>
            <td>{{ registration.child }}</td>
            <td>{{ registration.child.adult.name }}</td>
            <td>{{ registration.child.adult.phone }}</td>
          </tr>
          {% endif %} {% endfor %}
        </tbody>
      </table>
    </div>
  
    <div class="col">
      <h3>Wait List for This Program</h3>
  
      <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Parent or Guardian</th>
              <th>Phone Number</th>
            </tr>
          </thead>
    
          <tbody>
            {% for registration in program.registration_set.all %} {% if registration.is_wait_list %}
            <tr>
              <td>{{ registration.child }}</td>
              <td>{{ registration.child.adult.name }}</td>
              <td>{{ registration.child.adult.phone }}</td>
            </tr>
            {% endif %} {% endfor %}
          </tbody>
        </table>
    </div>
  </div>

{% endif %}
{% endblock content %}