{% extends 'shared/layout.html' %}
{% load static %}
{% block content %}

{% comment %} <img src="{% static 'shared/graphics/libraries_rock.jpg' %}" alt="Libraries Rock Banner" class="mw-100"> {% endcomment %}

<h2 class="display-4">All Programs</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Capacity</th>
      <th>Registered</th>
      <th>Date</th>
      <th>Time</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    {% for program in programs %}
      <tr>
        <td>{{ program.name }}</td>
        <td>{{ program.capacity }}</td>
        <td>{{ program.registration_set.count }}</td>
        <td>{{ program.date }}</td>
        <td>{{ program.time }}</td>
        <td class="text-right"><a class="btn btn-primary" href="{% url 'app:detail' program.id %}">Details</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}